{{setTitle     "버튼"}}
{{setSubTitle  "버튼을 위한 간단한 CSS"}}
{{setActiveNav "buttons"}}

{{addRemoteCSS "http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css"}}
{{addRemoteCSS "http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome-ie7.css"}}

{{> header}}

<div class="content">

    <h2 class="content-subhead">기본 버튼</h2>
    <p>
        Pure 버튼을 만들려면, 아무 <code>&lt;a&gt;</code>나 <code>&lt;button&gt;</code> 엘리먼트에 <code>pure-button</code> 클래스이름을 추가한다.
    </p>

  {{#prefixIds "default"}}
    {{> buttons/default}}
  {{/prefixIds}}


  {{#code}}
    {{> buttons/default}}
  {{/code}}

    <h2 class="content-subhead">비활성화된 버튼</h2>
    <p>
        버튼을 비활성화로 나타내려면, <code>pure-button</code> 클래스이름 옆에 <code>pure-button-disabled</code>를 추가한다.
        To mark a button as disabled, add the {{code "pure-button-disabled"}} classname alongside {{code "pure-button"}}.
    </p>

  {{#prefixIds "disabled"}}
    {{> buttons/disabled}}
  {{/prefixIds}}

  {{#code}}
    {{> buttons/disabled}}
  {{/code}}

    <h2 class="content-subhead">활성화된 버튼</h2>
    <p>
        "눌렸음"을 버튼에 나타내려면, <code>pure-button</code> 클래스이름 옆에 <code>pure-button-active</code>를 추가한다.
        To style a button so that it appears "pressed", add the {{code "pure-button-active"}} classname alongside {{code "pure-button"}}.
    </p>

  {{#prefixIds "active"}}
    {{> buttons/active}}
  {{/prefixIds}}

  {{#code}}
    {{> buttons/active}}
  {{/code}}

    <h2 class="content-subhead"><abbr title="primary">우선순위</abbr> 버튼</h2>
    <p>
        버튼을 1순위로 나타내고 싶으면, <code>pure-button</code> 클래스이름 옆에 <code>pure-button-primary</code>를 추가한다.
    </p>

  {{#prefixIds "primary"}}
    {{> buttons/primary}}
  {{/prefixIds}}

  {{#code}}
    {{> buttons/primary}}
  {{/code}}



    <h2 class="content-subhead">버튼 커스텀하기</h2>
    <p>
        Pure의 최소화된 스타일 덕분에, 기존 Pure 버튼에서 만들기도 쉽고 어플리케이션에 맞게 커스텀하기도 쉽다.
    </p>

    <p>
        버튼 스타일을 커스텀하려면, <code>pure-button</code> 클래스이름을 갖는 엘리먼트에 <code>pure-button-foo</code>처럼 수정된 CSS를 묶은 클래스를 추가하면 된다. 예시를 보자.
    </p>

    <h3 class="content-subhead">둥근 모서리의 색깔 버튼들</h3>

  {{#prefixIds "primary"}}
    {{> buttons/colors}}
  {{/prefixIds}}

  {{#code}}
    {{> buttons/colors}}
  {{/code}}


    <h3 class="content-subhead">다른 크기들의 버튼들</h3>

  {{#prefixIds "primary"}}
    {{> buttons/sizes}}
  {{/prefixIds}}

  {{#code}}
    {{> buttons/sizes}}
  {{/code}}


    <h3 class="content-subhead">아이콘을 넣은 버튼</h3>
    <p>
        Pure에는 아이콘 폰트가 포함되어있지 않지만, 다른 것들을 가져다쓰기에는 좋다. 아이콘 폰트들을 Pure 버튼에 넣는건 매우 쉽다. 아래 예시에서는 <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a> 아이콘폰트를 쓰고 있다. <a href="http://fortawesome.github.io/Font-Awesome/get-started/">Font Awesome CSS file</a>를 페이지에 넣고, <code>pure-button</code> 엘리먼트 안에 <code>&lt;i&gt;</code> 엘리먼트를 사용하면 된다.
    </p>

  {{#prefixIds "primary"}}
    {{> buttons/icons}}
  {{/prefixIds}}

  {{#code}}
    {{> buttons/icons}}
  {{/code}}

</div>

<script src="http://yui.yahooapis.com/{{yui_version}}/build/yui/yui{{min}}.js"></script>
{{> prevent-scroll}}
