{{setTitle     "커스텀하기"}}
{{setSubTitle  "필요한 모듈만 선택"}}
{{setActiveNav "customize"}}

{{> header}}

<div class="content">

    <h2 class="content-subhead"><abbr title="rollup">묶음</abbr></h2>
    <p>
        묶음들에는 Pure의 모든 모듈이 들어있다. 2가지 묶음이 있는데, 하나는 보통(반응형)이고, 하나는 비-반응형이다. 프로젝트에 맞는 것을 고르면 된다.
    </p>

    <table class="pure-table pure-table-bordered">
        <thead>
            <tr>
                <th>이름</th>
                <th>CSS URL</th>
                <th>크기 (<abbr title="gzipped">압축됨</abbr>)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>반응형 몪음</td>
                <td>http://yui.yahooapis.com/pure/{{pure_version}}/pure-min.css</td>
                <td>{{fileSize "pure"}}</td>
            </tr>
            <tr>
                <td>비-반응형 묶음</td>
                <td>http://yui.yahooapis.com/pure/{{pure_version}}/pure-nr-min.css</td>
                <td>{{fileSize "pure-nr"}}</td>
            </tr>
        </tbody>
    </table>


    <h2 class="content-subhead">개별 모듈들</h2>
    <p>
        모듈들을 개별적으로 가져올 수도 있다. 야후 CDN은 콤보 선택을 제공하는데, 요청에 따라 하나의 CSS 파일을 받을 수 있다. 아래 예시에서는 <a href="{{pages.base}}">기본</a>, <a href="{{pages.grids}}">그리드</a>, <a href="{{pages.forms}}">폼</a>만 포함된 CSS를 받을 수 있는 콤보다.
    </p>

{{#code}}
<link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/{{pure_version}}/base-min.css&pure/{{pure_version}}/grids-min.css&pure/{{pure_version}}/forms-min.css">
{{/code}}

    <table class="pure-table pure-table-bordered">
        <thead>
            <tr>
                <th>이름</th>
                <th>CSS URL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>기본</td>
                <td>http://yui.yahooapis.com/pure/{{pure_version}}/base-min.css</td>
            </tr>
            <tr>
                <td>버튼</td>
                <td>http://yui.yahooapis.com/pure/{{pure_version}}/buttons-min.css</td>
            </tr>
            <tr>
                <td>폼 (반응형)</td>
                <td>http://yui.yahooapis.com/pure/{{pure_version}}/forms-min.css</td>
            </tr>
            <tr>
                <td>폼 (비-반응형)</td>
                <td>http://yui.yahooapis.com/pure/{{pure_version}}/forms-nr-min.css</td>
            </tr>
            <tr>
                <td>그리드 (반응형)</td>
                <td>http://yui.yahooapis.com/pure/{{pure_version}}/grids-min.css</td>
            </tr>
            <tr>
                <td>그리드 (비-반응형형)</td>
                <td>http://yui.yahooapis.com/pure/{{pure_version}}/grids-nr-min.css</td>
            </tr>
            <tr>
                <td>메뉴 (반응형)</td>
                <td>http://yui.yahooapis.com/pure/{{pure_version}}/menus-min.css</td>
            </tr>
            <tr>
                <td>메뉴 (비-반응형형)</td>
                <td>http://yui.yahooapis.com/pure/{{pure_version}}/menus-nr-min.css</td>
            </tr>
            <tr>
                <td>테이블</td>
                <td>http://yui.yahooapis.com/pure/{{pure_version}}/tables-min.css</td>
            </tr>
        </tbody>
    </table>

    <h2 class="content-subhead">스킨 만들기</h2>
    <p>
        Pure는 최소화된 스타일이라 자신의 CSS로 커스텀할 수 있다. <a href="https://git.corp.yahoo.com/pages/yui/skinbuilder/">YUI Skin Builder</a>는 테마를 만들어주는 좋은 툴이다. 클릭 한번으로 Skine Builder는 Pure 테마에 필요한 모든 CSS를 생성해준다.
    </p>

    <p>
        <a href="http://yui.github.io/skinbuilder/?mode=pure" class="pure-button">Launch Skin Builder</a>
    </p>

    <h2 class="content-subhead">GitHub에서 기여하기</h2>
    <p>
        Pure는 BSD 라이센스를 따르는 오픈소스 프로젝트이다. 이슈, 풀 리퀘스트, 그리고 피드백을 환영한다. <a href="https://github.com/yui/pure">GitHub의 저장소</a>를 확인.
    </p>

</div>
