{{setTitle     "폼"}}
{{setSubTitle  "HTML Forms을 위한 간단한 CSS"}}
{{setActiveNav "forms"}}

{{> header}}

<div class="content">

    <h2 class="content-subhead">기본 <abbr title="Form">폼</abbr></h2>
    <p>
        기본 <abbr title="inline form">인라인 폼</abbr>을 만들려면 아무 <code>&lt;form&gt;</code> 엘리먼트에 <code>pure-form</code> 클래스이름을 넣으면 된다.
    </p>

  {{#prefixIds "default"}}
    {{> forms/default}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/default}}
  {{/code}}


    <h2 class="content-subhead" id="stacked-form">쌓인 폼</h2>
    <p>
        <abbr title="label">레이블</abbr>아래 인풋 엘리먼트들이 쌓이는 폼을 만들려면, <code>&lt;form&gt;</code> 엘리먼트의 클래스이름 <code>pure-form</code> 옆에 <code>pure-form-stacked</code>를 추가한다.
    </p>

  {{#prefixIds "stacked"}}
    {{> forms/stacked}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/stacked}}
  {{/code}}


    <h2 class="content-subhead">정렬된 폼</h2>
    <p>
        정렬된 폼을 만들려면 <code>&lt;form&gt;</code> 엘리먼트의 클래스이름 <code>pure-form</code> 옆에 <code>pure-form-aligned</code>를 추가한다. 정렬된 폼에서는 폼의 인풋들과 반대로 레이블들이 오른쪽 정렬이지만, 작은 스크린에서는 <a href="#stacked-form">쌓인 폼</a>으로 전환된다.
    </p>

  {{#prefixIds "aligned"}}
    {{> forms/aligned}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/aligned}}
  {{/code}}

    <h2 class="content-subhead">(Pure 그리드를 쓰는) <abbr title="어떻게 번역해야할지 모르는">멀티컬럼</abbr> 폼</h2>
    <p>
        멀티컬럼 폼을 만들려면, 폼 엘리먼트 안에 <a href="{{pages.grids}}">Pure 그리드</a>를 넣어라. 쌓인 폼과 Pure 그리드를 이용한 예제는 다음과 같다.
    </p>

  {{#prefixIds "multi"}}
    {{> forms/multi}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/multi}}
  {{/code}}

    <h2 class="content-subhead">인풋 묶음</h2>
    <p>
        텍스트 기반의 인풋들을 묶기 위해서 <code>pure-group</code> 클래스 이름을 가진 <code>&lt;fieldset&gt;</code> 엘리먼트로 묶으면 된다. 인풋 묶음은 회원가입 폼에서 유용하며 모바일 기기에서도 자연스럽게 보인다.
    </p>

  {{#prefixIds "grouped"}}
    {{> forms/grouped}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/grouped}}
  {{/code}}


    <h2 class="content-subhead">인풋 크기</h2>
    <p>
        인풋 엘리먼트들은 <a href="{{pages.home}}">Pure 그리드</a>와 비슷한 방법으로 유연한 너비 크기를 갖는다. 엘리먼트에 <code>"pure-input-*"</code> 클래스를 추가해서 적용할 수 있다.
    </p>

  {{#prefixIds "input-size"}}
    {{> forms/input-size}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/input-size}}
  {{/code}}

    <p>
        그리드 컨테이너로 묶어서 인풋 크기를 조절할 수도 있다. 아래 예시에서는 <code>&lt;input&gt;</code> 엘리먼트들이 <code>pure-input-1</code> 클래스지만 특정 그리드 클래스를 가진 <code>&lt;div&gt;</code>로 묶여있다.
    </p>

  {{#prefixIds "input-grid"}}
    {{> forms/input-grid}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/input-grid}}
  {{/code}}


    <h2 class="content-subhead">필수 인풋</h2>
    <p>
        폼에서 필수 항목을 나타내기 위해서 <code>required</code> 속성을 추가한다.
    </p>

  {{#prefixIds "invalid"}}
    {{> forms/invalid}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/invalid}}
  {{/code}}


    <h2 class="content-subhead">비활성화된 인풋</h2>
    <p>
        폼 항목을 비활성화하기 위해서는 <code>disabled</code> 속성을 추가한다.
    </p>

  {{#prefixIds "disabled"}}
    {{> forms/disabled}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/disabled}}
  {{/code}}


    <h2 class="content-subhead">둥근 인풋</h2>
    <p>
        폼 항목의 모서리를 둥글게 보이려면, <code>pure-input-rounded</code> 클래스이름을 추가한다.
    </p>

  {{#prefixIds "rounded"}}
    {{> forms/rounded}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/rounded}}
  {{/code}}


    <h2 class="content-subhead"><abbr title="checkbox">체크박스</abbr>와 <abbr title="radio">라디오</abbr></h2>
    <p>
        체크박스와 라디오 인풋들을 깔끔하게 정렬하고 싶으면, <code>pure-checkbox</code> 혹은 <code>pure-radio</code> 클래스이름을 추가한다.
    </p>

  {{#prefixIds "checkbox-radio"}}
    {{> forms/checkbox-radio}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/checkbox-radio}}
  {{/code}}
</div>
