{{setTitle     "Pure"}}
{{setSubTitle  "모든 웹사이트에서 사용할 수 있는 작은 반응형의 CSS 모듈 모음."}}
{{setActiveNav "home"}}

{{addLocalCSS "/css/home.css"}}

<div class="hero">
    <h1 class="pure-u-1">{{title}}</h1>
    <h2 class="pure-u-3-4 l-centered">{{subTitle}}</h2>

    <div class="hero-cta pure-u-3-4">
    {{#code}}
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/{{pure_version}}/pure-min.css">
    {{/code}}

    <p>
        <a class="pure-button pure-button-cta" href="{{pages.customize}}">시작하기</a>
        <a class="pure-button pure-button-secondary" href="https://github.com/yui/pure/">GitHub에서 보기</a>
    </p>
    </div>
</div>

<div class="pure-g-r marketing-ribbon">
    <div class="pure-u-1">
        <div class="size-chart l-vbox pure-g">
            <div class="size-chart-item size-chart-base pure-u" style="width: 19%;">
                <a class="size-chart-label" href="{{pages.base}}">
                    Base <span class="size-chart-size">{{fileSize "base"}}</span>
                </a>
            </div>
            <div class="size-chart-item size-chart-grids pure-u" style="width: {{filePercent 'grids'}};">
                <a class="size-chart-label" href="{{pages.grids}}">
                    Grids <span class="size-chart-size">{{fileSize "grids"}}</span>
                </a>
            </div>
            <div class="size-chart-item size-chart-forms pure-u" style="width: {{filePercent 'forms'}};">
                <a class="size-chart-label" href="{{pages.forms}}">
                    Forms <span class="size-chart-size">{{fileSize "forms"}}</span>
                </a>
            </div>
            <div class="size-chart-item size-chart-buttons pure-u" style="width: {{filePercent 'buttons'}};">
                <a class="size-chart-label" href="{{pages.buttons}}">
                    Buttons <span class="size-chart-size">{{fileSize "buttons"}}</span>
                </a>
            </div>
            <div class="size-chart-item size-chart-tables pure-u" style="width: {{filePercent 'tables'}};">
                <a class="size-chart-label" href="{{pages.tables}}">
                    Tables <span class="size-chart-size">{{fileSize "tables"}}</span>
                </a>
            </div>
            <div class="size-chart-item size-chart-menus pure-u" style="width: {{filePercent 'menus'}};">
                <a class="size-chart-label" href="{{pages.menus}}">
                    Menus <span class="size-chart-size">{{fileSize "menus"}}</span>
                </a>
            </div>
        </div>

        <div class="l-box">
            <h3>최소용량의 CSS</h3>
            <p>
                Pure는 어처구니 없을 정도로 작다. 반응형 스타일, 디자인 혹은 쉬운 사용 등이 빠지지않고도 축소(minified)되고 압축(gzipped)된 용량이 <strong>{{fileSize "pure"}}*</strong>이다. 모바일 기기를 염두에 두고 있기에 파일 사이즈를 작게 유지하고 CSS의 매 라인을 세심하게 작성하는게 중요했다. 부분만 사용하고 싶다면 더 용량을 줄일 수도 있다.
            </p>

            <p style="font-size:small;">
                * 확실하게 말해둘 것이 있다 :) 위의 숫자들은 각각의 모듈 사이즈고, 한번에 묶으면 더 압축될 수 있다.
            </p>
        </div>
    </div>
</div>

<div class="pure-g-r marketing-ribbon">
    <div class="pure-u-1-3">
        <div class="l-box">
            <h3>CSS 기반</h3>
            <p>
                Pure는 <a href="http://necolas.github.io/normalize.css/">Normalize.css</a> 기반으로 만들어졌으며, 순수 HTML 엘리먼트의 스타일과 레이아웃, 그리고 보편적으로 사용되는 대부분의 UI 컴포넌트가 제공된다. 불필요한 것이 없는 딱 필요한 것이다.
            </p>
        </div>
    </div>

    <div class="pure-u-1-3">
        <div class="l-box">
            <h3>모바일에서 염두해야할 것</h3>
            <p>
                Pure는 박스가 없는 반응형이라, 엘리먼트들이 모든 사이즈에 맞춰질 수 있다. <a href="http://yui.github.io/skinbuilder/?mode=pure">Skin Builder</a>를 통해 당신만의 스타일을 커스텀할 수도 있다.
            </p>
        </div>
    </div>

    <div class="pure-u-1-3">
        <div class="l-box">
            <h3>적용하기 위해서</h3>
            <p>
                Pure는 최소한의 스타일만 가지고 있고, 어플리케이션에 필요한 스타일이 있다면 최상위에 두도록 권장한다. 사용자가 작성한 것을 우선하도록 설계되었고, 쉽게 덥어쓸 수 있다.
            </p>
        </div>
    </div>
</div>


<div class="pure-g-r marketing-ribbon">
    <div class="pure-u-1-2">
        <div class="l-box">
            <a href="{{pages.layouts}}">
                <img src="img/layout-icon.jpg" alt="Diagram of a sample layout.">
            </a>
        </div>
    </div>

    <div class="pure-u-1-2">
        <div class="l-hbox">
            <h3>Create responsive layouts.</h3>
            <p>
                <a href="{{pages.grids}}">그리드</a>, <a href="{{pages.menus}}">메뉴</a>, 그리고 다른 것들을 사용하면 모든 스크린 크기의 아름다운 반응형 디자인을 쉽게 만들 수 있다. 시작하기 쉽게 만들어놨다. 

                , and more, it's easy to create beautiful responsive layouts for all screen sizes. We've made it easy for you to get started. Take a look at a few different <a href="{{pages.layouts}}">layouts</a> and start your next web project with a rock-solid foundation.
            </p>

            <p>
                <a href="{{pages.layouts}}" class="pure-button">View Layouts</a>
            </p>
        </div>
    </div>
</div>

<div class="pure-g-r marketing-ribbon">
    <div class="pure-u-1-2">
        <div class="l-hbox">
            <h3>Create your own look and feel.</h3>
            <p>
                Unlike other frameworks, Pure's design is unopinionated, minimal and flat. We believe that it's much easier to add new CSS rules than to overwrite existing rules. By adding a few lines of CSS, you can customize Pure's appearance to work with your web project.
            </p>

            <p>
                <a href="{{pages.extend}}" class="pure-button">Extend Pure</a>
            </p>
        </div>
    </div>
    <div class="pure-u-1-2">
        <div class="l-box sample-buttons">
            <p>
                <button class="pure-button">Grey</button>
                <button class="pure-button pure-button-a">Blue</button>
                <button class="pure-button pure-button-b">Yellow</button>
            </p>
            <p>
                <button class="pure-button pure-button-c">Black</button>
                <button class="pure-button pure-button-d">Green</button>
                <button class="pure-button pure-button-e">Red</button>
            </p>
            <p>
                <button class="pure-button pure-button-f">Purple</button>
                <button class="pure-button pure-button-g">Orange</button>
                <button class="pure-button pure-button-h">Indigo</button>
            </p>
        </div>
    </div>
</div>
