{{setTitle     "레이아웃"}}
{{setSubTitle  "빠르게 사용하기"}}
{{setActiveNav "layouts"}}

{{addLocalCSS "/css/layouts.css"}}

{{> header}}

<div class="content">
    <h2 class="content-subhead">보통 레이아웃</h2>
    <p>
        Pure는 모든 웹 사이트에서 사용되는걸 목표로 만들어졌다. 이번 예제에서는 Pure 기반으로 보통 쓰이는 레이아웃을 만들어봤다. 어떤 JavaScript도 쓰지 않고 반응형으로 만들어졌다.
    </p>

    <aside>
        <p>
            이 레이아웃들을 볼 때, 어떻게 작동하는지 잘 이해하려면 소스를 보고 하나씩 적용해보길.
        </p>
    </aside>

    <div class="pure-g-r layout-item">
        <div class="pure-u-1-2">
            <a href="{{pages.layoutsMarketing}}">
                <img src="/img/layouts/marketing@2x.jpg" class="bordered" width="400" height="214"
                     alt="반응형 시작페이지 레이아웃 예시의 스크린샷">
            </a>
        </div>

        <div class="pure-u-1-2">
            <div class="l-hbox">
                <h3 class="layout-item-head">시작 페이지</h3>

                <p>
                    이 레이아웃은 시작 페이지 제품 예시를 보여준다. <a href="{{pages.grids}}">그리드</a>와 <a href="{{pages.menus}}">메뉴</a>를 기반으로 만들어졌다.
                </p>

                <p><a href="{{pages.layoutsMarketing}}" class="pure-button">레이아웃 보기</a></p>
            </div>
        </div>
    </div>

    <div class="pure-g-r layout-item">
        <div class="pure-u-1-2">
            <a href="{{pages.layoutsGallery}}">
                <img src="/img/layouts/gallery@2x.jpg" class="bordered" width="400" height="214"
                     alt="Screenshot of Photo Gallery example layout.">
            </a>
        </div>

        <div class="pure-u-1-2">
            <div class="l-hbox">
                <h3 class="layout-item-head">사진 갤러리</h3>

                <p>
                    이 레이아웃은 반응형 사진 갤러리를 보여준다. 이 레이아웃은 <a href="{{pages.grids}}">그리드</a>, <a href="{{pages.menus}}">메뉴</a>, 그리고 <a href="{{pages.forms}}">폼</a>을 기반으로 만들어졌다.
                </p>

                <p><a href="{{pages.layoutsGallery}}" class="pure-button">레이아웃 보기</a></p>
            </div>
        </div>
    </div>



    <div class="pure-g-r layout-item">
        <div class="pure-u-1-2">
            <a href="{{pages.layoutsEmail}}">
                <img src="/img/layouts/email@2x.jpg" class="bordered" width="400" height="214"
                     alt="이메일 앱 레이아웃 예제를 위한 스크린샷">
            </a>
        </div>

        <div class="pure-u-1-2">
            <div class="l-hbox">
                <h3 class="layout-item-head">Email</h3>

                <p>
                    이 레이아웃은 반응형 이메일 레이아웃을 보여준다. <a href="{{pages.grids}}">그리드</a>와 <a href="{{pages.menus}}">메뉴</a> 기반으로 만들어졌다.
                </p>

                <p><a href="{{pages.layoutsEmail}}" class="pure-button">레이아웃 보기</a></p>
            </div>
        </div>
    </div>

    <div class="pure-g-r layout-item">
        <div class="pure-u-1-2">
            <a href="/layouts/blog/">
                <img src="/img/layouts/blog@2x.jpg" class="bordered" width="400" height="214" alt="블로그 레이아웃 예제를 위한 스크린샷">
            </a>
        </div>

        <div class="pure-u-1-2">
            <div class="l-hbox">
                <h3 class="layout-item-head">블로그</h3>

                <p>
                    이 레이아웃은 포스팅 리스트가 있는 블로그 페이지를 보여준다.<a href="/grids/">그리드</a>, <a href="/menus/">메뉴</a>, 그리고 <a href="/buttons/">버튼</a>을 기반으로 만들어졌다..
                </p>

                <p><a href="/layouts/blog/" class="pure-button">레이아웃 보기</a></p>
            </div>
        </div>
    </div>
</div>
