{{setTitle     "메뉴"}}
{{setSubTitle  "메뉴를 위한 간단한 CSS"}}
{{setActiveNav "menus"}}

{{addLocalCSS "/css/menus.css"}}

{{> header}}

<!-- 드랍다운 예제 코드가 작동하려면 이걸 최상위에 추가 -->
<script>
    {{{state}}}
</script>

<script src="http://yui.yahooapis.com/{{yui_version}}/build/yui/yui{{min}}.js"></script>
{{> prevent-scroll}}

<div class="content">

    <h2 class="content-subhead">수평 메뉴</h2>
    <p>
        수평 메뉴를 만들려면 <code>pure-menu-horizontal</code> 클래스이름을 추가하면 된다. 활성화된 메뉴는 <code>pure-menu-selected</code>를 리스트 엘리먼트에 추가해서 표시할 수 있다.
    </p>

    {{> menus/horizontal}}

  {{#code}}
    {{> menus/horizontal}}
  {{/code}}


    <h2 class="content-subhead">제목 추가하기</h2>
    <p>
        메뉴에 제목을 추가하려면 <code>&lt;ul&gt;</code> 엘리먼트 밖에 내용을 적고 <code>pure-menu-heading</code> 클래스이름이 있는 <code>&lt;a&gt;</code> 엘리먼트로 감싸면 된다.
    </p>

    {{> menus/heading}}

  {{#code}}
    {{> menus/heading}}
  {{/code}}


    <h2 class="content-subhead">수직 메뉴</h2>
    <p>
        메뉴는 기본적으로 수직이다. 메뉴에 스타일을 넣으려면 <code>pure-menu</code> 클래스만 추가하면 되고, 눈에 띄게 하려면 <code>pure-menu-open</code> 클래스를 해당 엘리먼트에 추가한다.
        Menus are vertical by default. You need only add the {{code "pure-menu"}} class to style the menu, and the {{code "pure-menu-open"}} class to ensure that it is visible.
    </p>

    {{> menus/vertical}}

  {{#code}}
    {{> menus/vertical}}
  {{/code}}


    <h2 class="content-subhead">메뉴에 드랍다운 추가하기</h2>
    <p>
        다릅다운 메뉴를 추가하려면 자바스크립트를 사용해야한다. 예를 들어, YUI의 <code>Y.Menu</code> 모듈로 자바스크립트 메뉴 기능을 넣고 드랍다운 기능을 추가할 수 있다.
    </p>

    {{> menus/dropdown}}

  {{#code}}
    {{> menus/dropdown}}
  {{/code}}


    <h2 class="content-subhead">비활성화된 항목 설정하기</h2>
    <p>
        링크를 비활성화로 표시하려면, <code>&lt;a&gt;</code> 엘리먼트에 <code>pure-menu-disabled</code>를 추가하면 된다. 비활성화된 항목은 희미하게 보이며 <abbr title="hover">호버</abbr> 스타일을 상속받지 않는다.
    </p>

    {{> menus/disabled}}

  {{#code}}
    {{> menus/disabled}}
  {{/code}}


    <h2 class="content-subhead">페이지 표기</h2>
    <p>
        페이지 표기를 만들려면, <code>&lt;ul&gt;</code> 엘리먼트에 <code>pure-paginator</code> 클래스이름을 추가하면 된다. 페이지 표기를 버튼처럼 보이고 싶으면 <code>pure-button</code> 클래스이름을 추가한다. 평범하게 사용하려면 클래스이름을 생략해도 된다.
    </p>

    {{> menus/paginator}}

  {{#code}}
    {{> menus/paginator}}
  {{/code}}

</div>