<form class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="{{id 'name'}}">이름</label>
            <input id="{{id 'name'}}" type="text" placeholder="Username">
        </div>

        <div class="pure-control-group">
            <label for="{{id 'password'}}">패스워드</label>
            <input id="{{id 'password'}}" type="password" placeholder="Password">
        </div>

        <div class="pure-control-group">
            <label for="{{id 'email'}}">Email 주소</label>
            <input id="{{id 'email'}}" type="email" placeholder="Email Address">
        </div>

        <div class="pure-control-group">
            <label for="{{id 'foo'}}">쓸데없이이리저리늘여서확인해보는 레이블</label>
            <input id="{{id 'foo'}}" type="text" placeholder="Enter something here...">
        </div>

        <div class="pure-controls">
            <label for="{{id 'cb'}}" class="pure-checkbox">
                <input id="{{id 'cb'}}" type="checkbox"> 약관과 조건을 읽었습니다.
            </label>

            <button type="submit" class="pure-button">가입</button>
        </div>
    </fieldset>
</form>
