<form class="pure-form">
    <label for="{{id 'option-one'}}" class="pure-checkbox">
        <input id="{{id 'option-one'}}" type="checkbox" value="">
        여기 옵션 하나.
    </label>

    <label for="{{id 'option-two'}}" class="pure-radio">
        <input id="{{id 'option-two'}}" type="radio" name="optionsRadios" value="option1" checked>
        여기는 라디오 버튼. 선택할 수도 있고...
    </label>

    <label for="{{id 'option-three'}}" class="pure-radio">
        <input id="{{id 'option-three'}}" type="radio" name="optionsRadios" value="option2">
        ...아니면 이거!
    </label>
</form>
