<form class="pure-form pure-form-stacked">
    <fieldset>
        <legend>쌓인 폼</legend>

        <label for="{{id 'email'}}">Email</label>
        <input id="{{id 'email'}}" type="email" placeholder="Email">

        <label for="{{id 'password'}}">Password</label>
        <input id="{{id 'password'}}" type="password" placeholder="Password">

        <label for="{{id 'state'}}">주소</label>
        <select id="{{id 'state'}}">
            <option>서울</option>
            <option>경기도</option>
            <option>인천</option>
        </select>

        <label for="{{id 'remember'}}" class="pure-checkbox">
            <input id="{{id 'remember'}}" type="checkbox"> 기억하기
        </label>

        <button type="submit" class="pure-button notice">로그인</button>
    </fieldset>
</form>
